@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./utils/utils";


.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $light-grey;

        h2 {
            padding: 39px 58px 18px;
        }

        p {
            padding: 0 34px 27px;
            font-weight: 300;
            font-size: $font-size-18;
        }
        button {
            @include gradient-btn;
            padding: 16px 19px;
            margin-bottom: 57px;
            transition: all 0.3s ease-in-out;
        }
        button:hover {
            @include gradient-btn-hover;
        }

        @media (min-width: 768px) {

            h2 {
                font-size: $font-size-40;
            }
        }

        @media (min-width: 1100px) {
            padding: 30px 0;

            h2 {
                padding: 0;
                margin-bottom: 18px;
            }
            p {
                padding: 0;
                margin-bottom: 18px;
            }
            button {
            margin: 0;
        }
        }
        
}

.functioning {
    display: flex;
    
    flex-direction: column;
    padding: 48px 20px 43px;

        h2 {
            margin-bottom: 25px;
        }

        &__list {

                ul {
                    list-style-type: none;

                    li {
                        padding: 28px 48px;
                        border-radius: 20px;
                        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                        position: relative;
                        margin-bottom: 25px;
                        margin-left: 12px;

                            .functioning__number {
                                position: absolute;
                                left: -12px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                height: 24px;
                                width: 24px;
                                background-color: $primary-color;
                                border-radius: 50%;
                            }

                            .fa-mobile-screen-button, .fa-list {
                                color: #7E7E7E;
                                margin-right: 25px;
                            }
                            .fa-store {
                                color: $primary-color;
                                margin-right: 25px;
                            }
                    }
                }
        }
        @media (min-width: 1100px) {
            padding: 50px 0;
            max-width: 1080px;
            margin: 0 auto;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {
                    width: 323px;
                }

                li:not(:first-child) {
                    margin-left: 0;
                }
            }
        }
}

.restaurants {
    padding: 54px 20px 48px;
    background-color: $light-grey;

    h2 {
        margin-bottom: 25px;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

        .restaurant {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;
            margin-bottom: 18px;
                

            &__img {
                position: relative;

                img {
                display: block;
                width: 100%;
                height: 174px;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            p {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 0.875rem;
                padding: 6px 9px;
                border-radius: 2px;
                background-color: $light-green;
                color: $dark-green;
            }
            }

            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 25px 16px 13px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);            

            }
            &__txt {
                display: flex;
                flex-direction: column;
                font-weight: 300;

                h3 {
                    font-size: $font-size-18;
                    margin-bottom: 5px;
                }
            }  
            
            &__heart {
                input[type="checkbox"] {
                    display: none;
                    pointer-events: none;

                    & + label {
                        cursor: pointer;
                    }

                    &:checked + label {
                        .lucide {
                            fill: $primary-color;
                        }
                    }
                }
            }
            
        }

        @media (min-width: 1100px) {
            padding: 30px 0 0 0;
            margin-bottom: -20px;

            &__container {
                max-width: 1080px;
                margin: 0 auto;
            }
        
                &__list {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .restaurant {
                    width: 490px;
                    margin-bottom: 50px;
                }
        }

    
}